<?xml version="1.0" encoding="UTF-8"?>
<!-- If each test class contains more than 1 test method, add ' group-by-instances="true" 
	' to the suite tag -->

<suite name="Suite1" parallel="true">
 	  <!--  <test name="Test1"> 
 		<classes> 
		 <class name="com.tcs.saf.test.CucumberRunTestJCPenney" />  
		</classes> 
	</test>  --> 
	   <!--  <test name="Test2"> 
 		<classes>
 		 <class name="com.tcs.saf.test.LufthansaCucumber" />
		</classes> 
	</test>  -->   
	 <!-- <test name="Test3"> 
 		<classes>
 		   <class name="com.tcs.saf.test.GoogleSearchCucumber" />
		</classes> 
	</test> --> 
	   <test name="Test4"> 
 		<classes>
 		 <!--   <class name="com.tcs.saf.test.TC1Cucumber" />  
 		   <class name="com.tcs.saf.test.TC2Cucumber" />  
 		    <class name="com.tcs.saf.test.TC3Cucumber" /> 
 		  <class name="com.tcs.saf.test.TC4Cucumber" /> 
 		     <class name="com.tcs.saf.test.TC5Cucumber" /> 
 		      <class name="com.tcs.saf.test.TC6Cucumber" />  -->
 		       <class name="com.tcs.saf.test.Homepage_menu_validation" />  
		</classes>  
	</test>  
<!--   <test name="Test5"> 
 		<classes>
 		 <class name="com.tcs.saf.test.TC_1" />
 		    <class name="com.tcs.saf.test.TC_2" />
 		   <class name="com.tcs.saf.test.TC_3" />
 		   <class name="com.tcs.saf.test.TC_4" />
 		   <class name="com.tcs.saf.test.TC_5" />
 		   <class name="com.tcs.saf.test.TC_6" /> 
 		   <class name="com.tcs.saf.test.TC_7" />
		</classes> 
	</test>  -->
	<!-- <test name="Test6"> 
 		<classes>
 		   <class name="com.tcs.saf.test.LufthansaTest" />
		</classes> 
	</test> -->


</suite>
